CELERYD_NODES="w1"
CELERYD_CHDIR="/usr/src/tsudat2"
CELERYD_MULTI="/var/lib/geonode/bin/python $CELERYD_CHDIR/manage.py celeryd_multi"
CELERYBEAT="/var/lib/geonode/bin/python $CELERYD_CHDIR/manage.py celerybeat"
CELERYD_OPTS="--time-limit=300 --concurrency=8 -E --beat -s /tmp/celerybeat-schedule"
CELERY_CONFIG_MODULE="celeryconfig"
CELERYD_LOG_FILE="/var/log/celery/%n.log"
CELERYD_PID_FILE="/var/run/celery/%n.pid"
CELERYD_USER="celery"
CELERYD_GROUP="celery"
export DJANGO_SETTINGS_MODULE="settings"
