<html>
    <head>
        <title>Tsu-DAT 2.0</title>
        <script src="http://extjs.cachefly.net/ext-3.3.0/adapter/ext/ext-base.js"></script>
        <script src="http://extjs.cachefly.net/ext-3.3.0/ext-all-debug.js"></script>
        <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.3.0/resources/css/ext-all.css" />
        <link rel="stylesheet" type="text/css" href="http://extjs.cachefly.net/ext-3.3.0/examples/shared/examples.css" />
        <link rel="stylesheet" type="text/css" href="/static/theme/default/style.css" />
        <link rel="stylesheet" type="text/css" href="/static/theme/default/google.css" />
        <script src="/static/lib/OpenLayers.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/resources/css/geoext-all-debug.css" />
        <script src="/static/lib/GeoExt.js"></script>
        <script src="/static/lib/overrides/override-ext-ajax.js"></script>
        <script type="text/javascript" src="/static/src/script/loader.js"></script>
        <script type="text/javascript" src="/static/js/viewer.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/src/theme/all.css"/>
    </head>
    <body>
    </body>
</html>

