{% load i18n %}
<html>
<center>
        <p>
        <a href='http://www.ga.gov.au/' target="_blank"><img src="/tsudat-media/theme/img/logo-ga.png" border=0 style="margin: 10px 10px 0;"></a>
        </p><p>
        <a href='http://www.aifdr.org/' target="_blank"><img src="/tsudat-media/theme/img/logo-aifdr.png"  border=0 style="margin: 10px 10px 0;">
        </p><p>
        <a href='http://nci.org.au/' target="_blank"><img src="/tsudat-media/theme/img/logo-nci.png"  border=0 style="margin: 10px 10px 0;">
        </p>
        Powered by <a href="http://geonode.org">{% trans "GeoNode" %}</a>
        | <strong>{% trans "Need Help?" %}</strong>
        <a href="{% url geonode.views.static "help" %}">{% trans "Help" %}</a>
        | <a href="{% url geonode.views.developer %}">{% trans "For Developers" %}</a>
        | <a href="{% url tsudat.views.disclaimer %}">{% trans "Disclaimer" %}</a>
</center>
</html>
