{% extends "page_layout.html" %}
{% load i18n %}
{% block title %} {% trans "Disclaimer" %} - {{ block.super }} {% endblock %}

{% block main %}
<div class="twocol">
    <h3>Disclaimer</h3>
    <p>
Geoscience Australia, Attorney-General's Department and the Australian Government make no representations about the suitability of any information on or available through this website. The information available on or through this website is provided "as is" without warranty of any kind to the extent permitted by law. Geoscience Australia, Attorney-General's Department and the Australian Government hereby disclaim all warranties and conditions with regard to this information, including all implied warranties and conditions or merchantability, fitness for particular purpose, title and non-infringement. In on event shall Geoscience Australia, Attorney-General's Department  or the Australian Government be liable in any way whatsoever, whether in negligence or otherwise, for any loss or liability arising out of or in connection with the use of information on or available through this website.
</p>
{% endblock %}
